
extends layout

block content
  head
    title lecture List
    style.
      body {
        font-family: Arial, sans-serif;
        background-color: #f4f4f4;
        padding: 20px;
        
      }

      h2 {
        color: #333;
      }

      table {
        width: 80%;
        border-collapse: collapse;
        margin-bottom: 10px;
      }

      th, td {
        border: 1px solid #ddd;
        padding: 12px;
        text-align: left;
      }

      th {
        background-color: #4caf50;
        color: white;
      }

      .add-button {
        margin-bottom: 20px;
      }

      .add-button button{
        background-color: #4caf50;
        border:none;
        padding: 10px 20px;
      }

  body
    h2 Lecture List

    .add-button
      a(href='/api/addlectures/')
        button Add lecture
    table
      thead
        tr
          th Name
          th Email
          th Phone
          th Module ID
          th Actions

      tbody
        each lecture in lectures
          tr
            td #{lecture.firstname} #{lecture.lastname}
            td #{lecture.email}
            td #{lecture.phone}
            td #{lecture.modulle_id}
            td
              a(href=`/api/lectures/${lecture.id}/edit`) Edit
              |  |
              a(href=`/lectures/${lecture.id}`) View
              |  |
              form(action=`/lectures/${lecture.id}/delete`, method='POST')
                button(type='submit') Delete
